In [86]:
# Creating a dictionary for consolidation
# Read in from Excel sheet, 2 columns first one with incorrect spelling and second one with correct spellig
import pandas as pd

cities = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/consolidated list Final Use.xlsx', 'Cities')
cities = cities[['Incorrect spelling', 'Correct spelling']]
print(cities.shape)

comma_in_name = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/consolidated list Final Use.xlsx', 'Comma in name')
comma_in_name = comma_in_name[['Incorrect spelling', 'Correct spelling']]
print(comma_in_name.shape)

misspellings = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/consolidated list Final Use.xlsx', 'Misspellings')
misspellings = misspellings[['Incorrect spelling', 'Correct spelling']]

colleges = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/consolidated list Final Use.xlsx', 'Colleges')
colleges = colleges[['Incorrect spelling', 'Correct spelling']]

colleges_full = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/consolidated list Final Use.xlsx', 'Colleges Full')
colleges_full = colleges_full[['Incorrect spelling', 'Correct spelling']]

#Remove cities
frames = [cities, misspellings, comma_in_name,colleges_full ,colleges]
first_consolidation = pd.concat(frames)
print(first_consolidation.shape)

for i in range(len(first_consolidation)):
    first_consolidation.iloc[i]['Incorrect spelling'] = first_consolidation.iloc[i]['Incorrect spelling'].strip()
    first_consolidation.iloc[i]['Correct spelling'] = first_consolidation.iloc[i]['Correct spelling'].strip().title()

first_consolidation = first_consolidation.rename(columns = {'Incorrect spelling': 'Original_Affiliation_Spelling','Correct spelling':'Affiliation_Consolidated'})
first_consolidation['Type'] = 'First round consolidation'
#print(first_consolidation.head())


first_consolidation = first_consolidation.sort_values(by = 'Affiliation_Consolidated')
#first_consolidation['duplicate'] = first_consolidation.duplicated(['Original_Affiliation_Spelling','Affiliation_Consolidated'],keep=False)
first_consolidation = first_consolidation.drop_duplicates(['Original_Affiliation_Spelling','Affiliation_Consolidated'], keep='first')
print(first_consolidation.shape)

(138, 2)
(231, 2)
(979, 2)
(957, 3)

In [70]:
Final_Consolidate = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/consolidated list Final Use.xlsx', 'Final Consolidate')
Final_Consolidate = Final_Consolidate[['Incorrect spelling', 'Correct spelling']]

for i in range(len(Final_Consolidate)):
    Final_Consolidate.iloc[i]['Incorrect spelling'] = Final_Consolidate.iloc[i]['Incorrect spelling'].strip()
    Final_Consolidate.iloc[i]['Correct spelling'] = Final_Consolidate.iloc[i]['Correct spelling'].strip().title()

Final_Consolidate = Final_Consolidate.rename(columns = {'Incorrect spelling': 'Original_Affiliation_Spelling','Correct spelling':'Affiliation_Consolidated'})

Final_Consolidate.shape
Final_Consolidate['Type'] = 'Final round consolidation'
print(Final_Consolidate.head())

                       Original_Affiliation_Spelling  \
0                                 Àarhus Universitet
1                               University Of Aarhus
2                                University Of Arhus
3         Institut Fur Okonometrie Und Systemtheorie
4  Academia Sinica, Institute Of Social Sciences,...

                      Affiliation_Consolidated                       Type
0                            Aarhus University  Final round consolidation
1                            Aarhus University  Final round consolidation
2                            Aarhus University  Final round consolidation
3  Abteilung Für Ökonometrie Und Systemtheorie  Final round consolidation
4                              Academia Sinica  Final round consolidation

In [63]:
unique = pd.read_excel('/Users/MattJohnson/Desktop/Affiliations/2_Extracting affilitations/3_consolidation/Uniques/uniquev2.xlsx','unique2')
unique = unique[['Affiliation','aff_cum_counts']]
#unique.rename({'Affiliation':'Affiliation_Consolidated'}, inplace= True)
unique.head()
print(unique.notna().sum())

unique_correct_consol = pd.DataFrame(columns = ['Original_Affiliation_Spelling' , 'Affiliation_Consolidated', 'Type'] )
#unique_correct_consol['Affiliation'] = unique['Affiliation']
unique_correct_consol['Affiliation_Consolidated'] = unique['Affiliation']
unique_correct_consol['Original_Affiliation_Spelling'] = unique['Affiliation']
unique_correct_consol['Type'] = 'Unique'
#unique_correct_consol['Original_Affiliation_Spelling'] = (unique_correct_consol['Affiliation']).where(unique_correct_consol['Original_Affiliation_Spelling'].isna(), unique_correct_consol['Original_Affiliation_Spelling'])
#unique_correct_consol['Affiliation_Consolidated'] = (unique_correct_consol['Affiliation']).where(unique_correct_consol['Affiliation_Consolidated'].isna(), unique_correct_consol['Affiliation_Consolidated'])

print(unique_correct_consol.head())
print(unique_correct_consol.notna().sum())

Affiliation       2035
aff_cum_counts    2035
dtype: int64
           Original_Affiliation_Spelling  \
0                  A B Laffer Associates
1    Aalto University School Of Business
2                  Aarhus Denmark (City)
3                      Aarhus University
4  Abdul Latif Jameel Poverty Action Lab

                Affiliation_Consolidated    Type
0                  A B Laffer Associates  Unique
1    Aalto University School Of Business  Unique
2                  Aarhus Denmark (City)  Unique
3                      Aarhus University  Unique
4  Abdul Latif Jameel Poverty Action Lab  Unique
Original_Affiliation_Spelling    2035
Affiliation_Consolidated         2035
Type                             2035
dtype: int64

In [87]:
#Remove cities
Frames = [Final_Consolidate, unique_correct_consol]
Unique_FinalConsolidate = pd.concat(Frames)
print(Unique_FinalConsolidate.shape)

Frames = [Final_Consolidate, unique_correct_consol, first_consolidation]
Unique_FinalConsolidate = pd.concat(Frames)
print(Unique_FinalConsolidate.shape)

Unique_FinalConsolidate = Unique_FinalConsolidate.sort_values(by = 'Affiliation_Consolidated')
#Unique_FinalConsolidate['duplicate'] = Unique_FinalConsolidate.duplicated(keep=False)
Unique_FinalConsolidate = Unique_FinalConsolidate.drop_duplicates(['Original_Affiliation_Spelling','Affiliation_Consolidated'], keep='first')
print(Unique_FinalConsolidate.shape)

(3869, 3)
(4826, 3)
(4727, 3)

In [92]:
Unique_FinalConsolidate['Affiliation_Consolidated'].isin(Unique_FinalConsolidate['Original_Affiliation_Spelling']) & (Unique_FinalConsolidate['Type'] == 'First round consolidation')

0       False
1       False
2       False
0       False
1       False
        ...
309     False
308     False
307     False
312     False
2034    False
Length: 4727, dtype: bool

In [59]:
#Merge on the consolidation
Full = unique.merge(Final_Consolidate, left_on = 'Affiliation', right_on= 'Affiliation_Consolidated' , how= 'left')

Full_uniques_original = unique.merge(Final_Consolidate, left_on = 'Affiliation', right_on= 'Affiliation_Consolidated' , how= 'left')
print(Full.head())
Full.notna().sum()

                           Affiliation  aff_cum_counts  \
0                A B Laffer Associates               1
1  Aalto University School Of Business               1
2                Aarhus Denmark (City)               1
3                    Aarhus University              16
4                    Aarhus University              16

  Original_Affiliation_Spelling Affiliation_Consolidated
0                           NaN                      NaN
1                           NaN                      NaN
2                           NaN                      NaN
3            Àarhus Universitet        Aarhus University
4          University Of Aarhus        Aarhus University

Affiliation                      3028
aff_cum_counts                   3028
Original_Affiliation_Spelling    1747
Affiliation_Consolidated         1747
dtype: int64

In [47]:
Full['Original_Affiliation_Spelling'] = (Full['Affiliation']).where(Full['Original_Affiliation_Spelling'].isna(), Full['Original_Affiliation_Spelling'])
Full['Affiliation_Consolidated'] = (Full['Affiliation']).where(Full['Affiliation_Consolidated'].isna(), Full['Affiliation_Consolidated'])

print(Full.head())
print(Full.notna().sum())

                           Affiliation  aff_cum_counts  \
0                A B Laffer Associates               1
1  Aalto University School Of Business               1
2                Aarhus Denmark (City)               1
3                    Aarhus University              16
4                    Aarhus University              16

         Original_Affiliation_Spelling             Affiliation_Consolidated
0                A B Laffer Associates                A B Laffer Associates
1  Aalto University School Of Business  Aalto University School Of Business
2                Aarhus Denmark (City)                Aarhus Denmark (City)
3                   Àarhus Universitet                    Aarhus University
4                 University Of Aarhus                    Aarhus University
Affiliation                      3028
aff_cum_counts                   3028
Original_Affiliation_Spelling    3028
Affiliation_Consolidated         3028
dtype: int64

In [48]:
Full = Full.sort_values(by=['Affiliation_Consolidated'])

In [49]:
Full_with_first = Full.merge(first_consolidation, left_on = 'Affiliation', right_on= 'Correct spelling' , how= 'left')
print(Full_with_first.head())
Full_with_first.notna().sum()
Full_with_first = Full_with_first.drop_duplicates()
Full_with_first.notna().sum()

                           Affiliation  aff_cum_counts  \
0                A B Laffer Associates               1
1  Aalto University School Of Business               1
2                Aarhus Denmark (City)               1
3                    Aarhus University              16
4                    Aarhus University              16

         Original_Affiliation_Spelling             Affiliation_Consolidated  \
0                A B Laffer Associates                A B Laffer Associates
1  Aalto University School Of Business  Aalto University School Of Business
2                Aarhus Denmark (City)                Aarhus Denmark (City)
3                   Àarhus Universitet                    Aarhus University
4                 University Of Aarhus                    Aarhus University

  Incorrect spelling Correct spelling
0                NaN              NaN
1                NaN              NaN
2                NaN              NaN
3                NaN              NaN
4                NaN              NaN

Affiliation                      3247
aff_cum_counts                   3247
Original_Affiliation_Spelling    3247
Affiliation_Consolidated         3247
Incorrect spelling                324
Correct spelling                  324
dtype: int64

In [88]:
# create a excel writer object
with pd.ExcelWriter('/Users/MattJohnson/Desktop/Affiliations/2_Extracting affilitations/3_consolidation/Uniques/Full consolidation list.xlsx') as writer:
    # use to_excel function and specify the sheet_name and index 
    # to store the dataframe in specified sheet
    Full_with_first.to_excel(writer, sheet_name="Full_with_first", index=False)
    Full.to_excel(writer, sheet_name="Full list", index=False)
    Full_uniques_original.to_excel(writer, sheet_name="Full_uniques_original", index=False)
    Unique_FinalConsolidate.to_excel(writer, sheet_name="Unique_FinalConsolidate", index=False)
    first_consolidation.to_excel(writer, sheet_name="first_consolidation", index=False)