# Merging the AER files together 
AER is split into 7 files as shown in section 2.2. Fuzzy matching, this file reads them all in and merges them into 1 big AER merged file

In [1]:
import pandas as pd

#Read in the master sheet
#Local store of AER_master
AER_master = pd.read_excel('/Users/MattJohnson/Desktop/Affiliations/1_Input files and processing input files/1_1_Input files/Master lists/Processed/AER_processed.xlsx')
for i in range(len(AER_master)):
    AER_master.loc[i,['Article_ID']] = AER_master.loc[i,['stable_url']].to_string().rsplit('/',1)[-1]

AER_master_condenced  = AER_master[['Article_ID','year','content_type']]
AER_master_condenced['year'] = AER_master_condenced['year'].astype('int')
AER_master_condenced['Article_ID'] = AER_master_condenced['Article_ID'].astype('int')
AER_master_condenced.rename(columns = {'year':'year_master', 'content_type':'content_type_master'}, inplace = True)

list = []
for i in range(1940,2011):
    list.append(i)
print(list)
#mask_year = RES_master_condenced['year_master'].isin([2016,2015,2014,2013,2012,2011])
mask_year = AER_master_condenced['year_master'].isin(list)
AER_master_condenced = AER_master_condenced[mask_year]
#mask_type = RES_master_condenced['content_type_master'].isin(['Rejoiner','MISC','Review'])
#RES_master_condenced = RES_master_condenced[~mask_type]
mask_type = AER_master_condenced['content_type_master'].isin(['Article',])
AER_master_condenced = AER_master_condenced[mask_type]
#RES_master_condenced.drop(~RES_master_condenced.loc[RES_master_condenced['year_master'].isin([2016])].index, inplace=True)
print(AER_master_condenced.shape)
AER_master_condenced.head()

[1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]
(9340, 3)

/var/folders/23/ft9qf9c11rj_vqhbjml910f40000gn/T/ipykernel_2442/276321104.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AER_master_condenced['year'] = AER_master_condenced['year'].astype('int')
/var/folders/23/ft9qf9c11rj_vqhbjml910f40000gn/T/ipykernel_2442/276321104.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AER_master_condenced['Article_ID'] = AER_master_condenced['Article_ID'].astype('int')
/var/folders/23/ft9qf9c11rj_vqhbjml910f40000gn/T/ipykernel_2442/276321104.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AER_master_condenced.rename(columns = {'year':'year_master', 'content_type':'content_type_master'}, inplace = True)

      Article_ID  year_master content_type_master
2187    41038751         2010             Article
2188    41038752         2010             Article
2189    41038753         2010             Article
2190    41038754         2010             Article
2191    41038755         2010             Article

In [2]:
AER_master_condenced  = AER_master_condenced[['Article_ID']]
print(AER_master_condenced.shape)
AER_master_condenced.head()

(9340, 1)

      Article_ID
2187    41038751
2188    41038752
2189    41038753
2190    41038754
2191    41038755

In [3]:
#1971 - 1999 1 auth
import pandas as pd
AER_1971_1999_1_author = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/Consolidation/Finalized/AER Screened/3 AER 1971-1999 1 auth Screened.xlsx', '1 Author 1971-1999')
print(AER_1971_1999_1_author.shape)
AER_1971_1999_1_author.head()

AER_1971_1999_1_author['Article_ID'] = AER_1971_1999_1_author['Article_ID'].astype('int')
mask_screened = AER_1971_1999_1_author['Screened'].isin(['y'])
AER_1971_1999_1_author = AER_1971_1999_1_author[mask_screened]
print(AER_1971_1999_1_author.shape)
AER_1971_1999_1_author.head()

(3351, 24)
(2748, 24)

,Column1,Journal_Name,Authors_count,Authors_list,authors,Article_ID,content_type,stable_url,year_master,Ref_type,...,0_Auth_affs_0,0_Auth_affs_1,0_Auth_affs_2,0_Auth_affs_3,0_Auth_affs_4,1_Auth_affs_0,2_Auth_affs_0,3_Auth_affs_0,4_Auth_affs_0,5_Auth_affs_0
0,1,AER,1,['Branko Horvat'],Branko Horvat,1813304,Article,https://www.jstor.org/stable/1813304,1971,found,...,Institute Of Economic Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AER,1,['Leopoldo Solís'],Leopoldo Solís,1813303,Article,https://www.jstor.org/stable/1813303,1971,found,...,Bank Of Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AER,1,['J. Phillip Cooper'],J. Phillip Cooper,1811872,Article,https://www.jstor.org/stable/1811872,1971,found,...,University Of Chicago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,AER,1,['Richard Schmalensee'],Richard Schmalensee,1811860,Article,https://www.jstor.org/stable/1811860,1971,found,...,UCSD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,AER,1,['Martin Shubik'],Martin Shubik,1811866,Article,https://www.jstor.org/stable/1811866,1971,found,...,Yale University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#1971 - 1999 2 authors
import pandas as pd
AER_1971_1999_2_authors = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/Consolidation/Finalized/AER Screened/3 AER_aff_output 1971 1999 2 authors.xlsx')
print(AER_1971_1999_2_authors.shape)
AER_1971_1999_2_authors.head()

AER_1971_1999_2_authors['Article_ID'] = AER_1971_1999_2_authors['Article_ID'].astype('int')
mask_screened = AER_1971_1999_2_authors['Screened'].isin(['y'])
AER_1971_1999_2_authors = AER_1971_1999_2_authors[mask_screened]
print(AER_1971_1999_2_authors.shape)
AER_1971_1999_2_authors.head()

(1478, 27)
(1478, 27)

,Column1,Journal_Name,Authors_count,Authors_list,authors,Article_ID,content_type,stable_url,year_master,Ref_type,...,0_Auth_affs_1,0_Auth_affs_2,0_Auth_affs_3,0_Auth_affs_4,1_Auth_string_found,1_Auth_affs_0,1_Auth_affs_1,1_Auth_affs_2,1_Auth_affs_3,1_Auth_affs_4
0,0,AER,2,"['George J. Stigler', 'Claire Friedland']",George J. Stigler and Claire Friedland,1811862,Article,https://www.jstor.org/stable/1811862,1971,found,...,NaN,NaN,NaN,NaN,NaN,University Of Chicago,NaN,NaN,NaN,NaN
1,1,AER,2,"['Roger G. Noll', 'John Trijonis']",Roger G. Noll and John Trijonis,1811870,Article,https://www.jstor.org/stable/1811870,1971,found,...,California Institute Of Technology,NaN,NaN,NaN,NaN,California Institute Of Technology,NaN,NaN,NaN,NaN
2,2,AER,1,['Robert A. Meyer'],"Robert A. Meyer, Jr.",1811871,Article,https://www.jstor.org/stable/1811871,1971,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,AER,2,"['Peter A. Diamond', 'James A. Mirrlees']",Peter A. Diamond and James A. Mirrlees,1813425,Article,https://www.jstor.org/stable/1813425,1971,found,...,NaN,NaN,NaN,NaN,"Nuffield College,",University Of Oxford,NaN,NaN,NaN,NaN
4,4,AER,2,"['Edgar L. Feige', 'Michael Parkin']",Edgar L. Feige and Michael Parkin,1813431,Article,https://www.jstor.org/stable/1813431,1971,found,...,NaN,NaN,NaN,NaN,"Professor Of Economics, University Of Manghes...",University Of Manchester,NaN,NaN,NaN,NaN

In [5]:
#1971 - 1999 3 authors plus
import pandas as pd
AER_1971_1999_3_authors = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/Consolidation/Finalized/AER Screened/3 AER_aff_output 1971 1999 3+ authors.xlsx')
print(AER_1971_1999_3_authors.shape)
AER_1971_1999_3_authors.head()

AER_1971_1999_3_authors['Article_ID'] = AER_1971_1999_3_authors['Article_ID'].astype('int')
mask_screened = AER_1971_1999_3_authors['Screened'].isin(['y'])
AER_1971_1999_3_authors = AER_1971_1999_3_authors[mask_screened]
print(AER_1971_1999_3_authors.shape)
AER_1971_1999_3_authors.head()

(369, 45)
(369, 45)

,Unnamed: 0,Journal_Name,Authors_count,Authors_list,authors,Article_ID,content_type,stable_url,year_master,Ref_type,...,3_Auth_affs_2,3_Auth_affs_3,3_Auth_affs_4,4_Auth_affs_0,4_Auth_affs_1,4_Auth_affs_2,4_Auth_affs_3,5_Auth_affs_0,6_Auth_affs_0,7_Auth_affs_0
0,0,AER,4,"['Charles J. Cicchetti', 'A. Myrick Freeman Ii...","Charles J. Cicchetti, A. Myrick Freeman III, R...",1811867,Article,https://www.jstor.org/stable/1811867,1971,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AER,3,"['D. Nichols', 'E. Smolensky', 'T. N. Tideman']","D. Nichols, E. Smolensky and T. N. Tideman",1813429,Article,https://www.jstor.org/stable/1813429,1971,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,AER,3,"['Mordechai E. Kreinin', 'James B. Ramsey', 'J...","Mordechai E. Kreinin, James B. Ramsey and Jan ...",1813149,Article,https://www.jstor.org/stable/1813149,1971,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,AER,3,"['Maurice Mcmanus', 'Gary M. Walton', 'Richard...","Maurice McManus, Gary M. Walton and Richard B....",1803402,Article,https://www.jstor.org/stable/1803402,1972,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,AER,3,"['Anthony C. Fisher', 'John V. Krutilla', 'Cha...","Anthony C. Fisher, John V. Krutilla and Charle...",1806102,Article,https://www.jstor.org/stable/1806102,1972,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#2000 - 2010 1 auth
import pandas as pd
AER_2000_2010_1_author = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/Consolidation/Finalized/AER Screened/3 AER 2000-2010 1 auth Screened.xlsx')
print(AER_2000_2010_1_author.shape)
AER_2000_2010_1_author.head()

AER_2000_2010_1_author['Article_ID'] = AER_2000_2010_1_author['Article_ID'].astype('int')
mask_screened = AER_2000_2010_1_author['Screened'].isin(['y'])
AER_2000_2010_1_author = AER_2000_2010_1_author[mask_screened]
print(AER_2000_2010_1_author.shape)
AER_2000_2010_1_author.head()

(1992, 40)
(603, 40)

,Unnamed: 0,Journal_Name,Authors_count,Authors_list,authors,Article_ID,content_type,stable_url,year_master,Ref_type,...,2_Auth_affs_3,2_Auth_affs_4,3_Auth_string_found,3_Auth_affs_0,3_Auth_affs_1,3_Auth_affs_2,3_Auth_affs_3,3_Auth_affs_4,4_Auth_affs_0,4_Auth_affs_1
0,0,AER,1,['Edmund S. Cannon'],Edmund S. Cannon,117294,Article,https://www.jstor.org/stable/117294,2000,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AER,1,['Kim-Sau Chung'],Kim-Sau Chung,117347,Article,https://www.jstor.org/stable/117347,2000,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,AER,1,['Peter Kooreman'],Peter Kooreman,117343,Article,https://www.jstor.org/stable/117343,2000,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,AER,1,['Karen E. Dynan'],Karen E. Dynan,117335,Article,https://www.jstor.org/stable/117335,2000,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,AER,1,['Jeffrey C. Fuhrer'],Jeffrey C. Fuhrer,117334,Article,https://www.jstor.org/stable/117334,2000,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#2000 - 2010 not 1 auth
import pandas as pd
AER_2000_2010_2_3_authors = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/Consolidation/Finalized/AER Screened/3 AER_aff_ref_output_1940_2010_affs_out authors 2000 2010 not 1 auth.xlsx')
print(AER_2000_2010_2_3_authors.shape)
AER_2000_2010_2_3_authors.head()

AER_2000_2010_2_3_authors['Article_ID'] = AER_2000_2010_2_3_authors['Article_ID'].astype('int')
mask_screened = AER_2000_2010_2_3_authors['Screened'].isin(['y'])
AER_2000_2010_2_3_authors = AER_2000_2010_2_3_authors[mask_screened]
print(AER_2000_2010_2_3_authors.shape)
AER_2000_2010_2_3_authors.head()

(1389, 44)
(1389, 44)

,Column1,Journal_Name,Authors_count,Authors_list,authors,Article_ID,content_type,stable_url,year_master,Ref_type,...,3_Auth_affs_1,3_Auth_affs_2,3_Auth_affs_3,3_Auth_affs_4,4_Auth_affs_0,4_Auth_affs_1,4_Auth_affs_2,4_Auth_affs_3,5_Auth_affs_0,6_Auth_affs_0
0,0,AER,2,"['Kenneth M. Kletzer', 'Brian D. Wright']",Kenneth M. Kletzer and Brian D. Wright,117346,Article,https://www.jstor.org/stable/117346,2000,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AER,2,"['Brock Blomberg', 'Joseph E. Harrington']","Brock Blomberg and Joseph E. Harrington, Jr.",117345,Article,https://www.jstor.org/stable/117345,2000,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,AER,2,"['Hope Corman', 'H. Naci Mocan']",Hope Corman and H. Naci Mocan,117344,Article,https://www.jstor.org/stable/117344,2000,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,AER,2,"['Emmanuelle Auriol', 'Michel Benaim']",Emmanuelle Auriol and Michel Benaim,117342,Article,https://www.jstor.org/stable/117342,2000,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,AER,2,"['Henning Bohn', 'Robert T. Deacon']",Henning Bohn and Robert T. Deacon,117341,Article,https://www.jstor.org/stable/117341,2000,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#1940 - 1969 all auth
import pandas as pd
AER_1940_1969 = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/Consolidation/Finalized/AER Screened/3 AER_aff_output 1940 1969 authors.xlsx')
print(AER_1940_1969.shape)
AER_1940_1969.head()

AER_1940_1969['Article_ID'] = AER_1940_1969['Article_ID'].astype('int')
mask_screened = AER_1940_1969['Screened'].isin(['y'])
AER_1940_1969 = AER_1940_1969[mask_screened]
print(AER_1940_1969.shape)
AER_1940_1969.head()

(2617, 36)
(846, 36)

,Column1,Journal_Name,Authors_count,Authors_list,authors,Article_ID,content_type,stable_url,year_master,Ref_type,...,1_Auth_affs_1,1_Auth_affs_2,1_Auth_affs_3,2_Auth_string_found,2_Auth_affs_0,2_Auth_affs_1,2_Auth_affs_2,2_Auth_affs_3,3_Auth_affs_0,4_Auth_affs_0
2,2,AER,1.0,['Edmund Whittaker'],Edmund Whittaker,1807589,Article,https://www.jstor.org/stable/1807589,1940,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,AER,1.0,['Lewis H. Haney'],Lewis H. Haney,1807591,Article,https://www.jstor.org/stable/1807591,1940,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,AER,1.0,['Simon Kuznets'],Simon Kuznets,1807049,Article,https://www.jstor.org/stable/1807049,1940,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,AER,1.0,['John D. Sumner'],John D. Sumner,1807053,Article,https://www.jstor.org/stable/1807053,1940,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,AER,1.0,['Rollin G. Thomas'],Rollin G. Thomas,1807055,Article,https://www.jstor.org/stable/1807055,1940,found,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#1970 - 1971 all
import pandas as pd
AER_1970_1971 = pd.read_excel('/Users/MattJohnson/Library/CloudStorage/OneDrive-UniversityofCapeTown/Masters_thesis/Data checks/Consolidation/Finalized/AER Screened/3 AER_aff_output 1970 1971 authors.xlsx')
print(AER_1970_1971.shape)
AER_1970_1971.head()

AER_1970_1971['Article_ID'] = AER_1970_1971['Article_ID'].astype('int')
mask_screened = AER_1970_1971['Screened'].isin(['y'])
AER_1970_1971 = AER_1970_1971[mask_screened]
print(AER_1970_1971.shape)
AER_1970_1971.head()

(136, 27)
(136, 27)

,Unnamed: 0,Journal_Name,Authors_count,Authors_list,authors,Article_ID,content_type,stable_url,year_master,Ref_type,...,0_Auth_affs_1,0_Auth_affs_2,0_Auth_affs_3,1_Auth_string_found,1_Auth_affs_0,1_Auth_affs_1,1_Auth_affs_2,1_Auth_affs_3,2_Auth_affs_0,2_Auth_affs_1
0,0,AER,1.0,['Henry Aaron'],Henry Aaron,1818280,Article,https://www.jstor.org/stable/1818280,1970,found,...,University Of Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,W. Lee Hansen,1815825,NaN,NaN,1970,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,R. Radner and L. S. Miller,1815824,NaN,NaN,1970,NaN,...,University Of Cambridge,NaN,NaN,NaN,Suny At Stony Brook,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,Bela Balassa and Trent J. Bertrand,1815822,NaN,NaN,1970,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,Richard D. Portes,1815821,NaN,NaN,1970,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
AER_1940_1969.rename(columns={"ref_string_found": "ref_string", "ref_string_clean_found": "ref_string_clean1"}, inplace= True)
AER_1940_1969['1_Auth_affs_4'] = ""
AER_1940_1969['2_Auth_affs_4'] = ""
AER_1940_1969['3_Auth_affs_1'] = ""
AER_1940_1969['3_Auth_affs_2'] = ""
AER_1940_1969['3_Auth_affs_3'] = ""
AER_1940_1969['3_Auth_affs_4'] = ""
AER_1940_1969['4_Auth_affs_1'] = ""
AER_1940_1969['4_Auth_affs_2'] = ""
AER_1940_1969['4_Auth_affs_3'] = ""
AER_1940_1969['5_Auth_affs_0'] = ""
AER_1940_1969['6_Auth_affs_0'] = ""
AER_1940_1969['7_Auth_affs_0'] = ""
print(AER_1940_1969.shape)


AER_1940_1969 = AER_1940_1969[['Journal_Name' ,'Authors_count', 'Authors_list', 'authors', 'Article_ID', 'content_type',
'stable_url', 'year_master', 'Ref_type' ,
'ref_string', 'ref_string_clean1', 'Screened', 'Manual',
'0_Auth_affs_0', '0_Auth_affs_1', '0_Auth_affs_2', '0_Auth_affs_3', '0_Auth_affs_4', 
'1_Auth_affs_0' , '1_Auth_affs_1', '1_Auth_affs_2', '1_Auth_affs_3', '1_Auth_affs_4',
'2_Auth_affs_0', '2_Auth_affs_1', '2_Auth_affs_2', '2_Auth_affs_3', '2_Auth_affs_4',
'3_Auth_affs_0', '3_Auth_affs_1', '3_Auth_affs_2', '3_Auth_affs_3', '3_Auth_affs_4',
'4_Auth_affs_0', '4_Auth_affs_1', '4_Auth_affs_2' , '4_Auth_affs_3',
'5_Auth_affs_0',
'6_Auth_affs_0','7_Auth_affs_0']]

#AER_1970_1971
AER_1970_1971['0_Auth_affs_4'] = ""
AER_1970_1971['1_Auth_affs_4'] = ""
AER_1970_1971['2_Auth_affs_2'] = ""
AER_1970_1971['2_Auth_affs_3'] = ""
AER_1970_1971['2_Auth_affs_4'] = ""
AER_1970_1971['3_Auth_affs_0'] = ""
AER_1970_1971['3_Auth_affs_1'] = ""
AER_1970_1971['3_Auth_affs_2'] = ""
AER_1970_1971['3_Auth_affs_3'] = ""
AER_1970_1971['3_Auth_affs_4'] = ""
AER_1970_1971['4_Auth_affs_0'] = ""
AER_1970_1971['4_Auth_affs_1'] = ""
AER_1970_1971['4_Auth_affs_2'] = ""
AER_1970_1971['4_Auth_affs_3'] = ""
AER_1970_1971['5_Auth_affs_0'] = ""
AER_1970_1971['6_Auth_affs_0'] = ""
AER_1970_1971['7_Auth_affs_0'] = ""
print(AER_1970_1971.shape)

AER_1970_1971 = AER_1970_1971[['Journal_Name' ,'Authors_count', 'Authors_list', 'authors', 'Article_ID', 'content_type',
'stable_url', 'year_master', 'Ref_type' ,
'ref_string', 'ref_string_clean1', 'Screened', 'Manual',
'0_Auth_affs_0', '0_Auth_affs_1', '0_Auth_affs_2', '0_Auth_affs_3', '0_Auth_affs_4', 
'1_Auth_affs_0' , '1_Auth_affs_1', '1_Auth_affs_2', '1_Auth_affs_3', '1_Auth_affs_4',
'2_Auth_affs_0', '2_Auth_affs_1', '2_Auth_affs_2', '2_Auth_affs_3', '2_Auth_affs_4',
'3_Auth_affs_0', '3_Auth_affs_1', '3_Auth_affs_2', '3_Auth_affs_3', '3_Auth_affs_4',
'4_Auth_affs_0', '4_Auth_affs_1', '4_Auth_affs_2' , '4_Auth_affs_3',
'5_Auth_affs_0',
'6_Auth_affs_0','7_Auth_affs_0']]

#AER_1971_1999_1_author
AER_1971_1999_1_author['1_Auth_affs_1'] = ""
AER_1971_1999_1_author['1_Auth_affs_2'] = ""
AER_1971_1999_1_author['1_Auth_affs_3'] = ""
AER_1971_1999_1_author['1_Auth_affs_4'] = ""
AER_1971_1999_1_author['2_Auth_affs_1'] = ""
AER_1971_1999_1_author['2_Auth_affs_2'] = ""
AER_1971_1999_1_author['2_Auth_affs_3'] = ""
AER_1971_1999_1_author['2_Auth_affs_4'] = ""
AER_1971_1999_1_author['3_Auth_affs_1'] = ""
AER_1971_1999_1_author['3_Auth_affs_2'] = ""
AER_1971_1999_1_author['3_Auth_affs_3'] = ""
AER_1971_1999_1_author['3_Auth_affs_4'] = ""
AER_1971_1999_1_author['4_Auth_affs_1'] = ""
AER_1971_1999_1_author['4_Auth_affs_2'] = ""
AER_1971_1999_1_author['4_Auth_affs_3'] = ""
AER_1971_1999_1_author['6_Auth_affs_0'] = ""
AER_1971_1999_1_author['7_Auth_affs_0'] = ""
print(AER_1971_1999_1_author.shape)

AER_1971_1999_1_author = AER_1971_1999_1_author[['Journal_Name' ,'Authors_count', 'Authors_list', 'authors', 'Article_ID', 'content_type',
'stable_url', 'year_master', 'Ref_type' ,
'ref_string', 'ref_string_clean1', 'Screened', 'Manual',
'0_Auth_affs_0', '0_Auth_affs_1', '0_Auth_affs_2', '0_Auth_affs_3', '0_Auth_affs_4', 
'1_Auth_affs_0' , '1_Auth_affs_1', '1_Auth_affs_2', '1_Auth_affs_3', '1_Auth_affs_4',
'2_Auth_affs_0', '2_Auth_affs_1', '2_Auth_affs_2', '2_Auth_affs_3', '2_Auth_affs_4',
'3_Auth_affs_0', '3_Auth_affs_1', '3_Auth_affs_2', '3_Auth_affs_3', '3_Auth_affs_4',
'4_Auth_affs_0', '4_Auth_affs_1', '4_Auth_affs_2' , '4_Auth_affs_3',
'5_Auth_affs_0',
'6_Auth_affs_0','7_Auth_affs_0']]

#AER_1971_1999_2_authors
AER_1971_1999_2_authors['2_Auth_affs_0'] = ""
AER_1971_1999_2_authors['2_Auth_affs_1'] = ""
AER_1971_1999_2_authors['2_Auth_affs_2'] = ""
AER_1971_1999_2_authors['2_Auth_affs_3'] = ""
AER_1971_1999_2_authors['2_Auth_affs_4'] = ""
AER_1971_1999_2_authors['3_Auth_affs_0'] = ""
AER_1971_1999_2_authors['3_Auth_affs_1'] = ""
AER_1971_1999_2_authors['3_Auth_affs_2'] = ""
AER_1971_1999_2_authors['3_Auth_affs_3'] = ""
AER_1971_1999_2_authors['3_Auth_affs_4'] = ""
AER_1971_1999_2_authors['3_Auth_affs_0'] = ""
AER_1971_1999_2_authors['4_Auth_affs_0'] = ""
AER_1971_1999_2_authors['4_Auth_affs_1'] = ""
AER_1971_1999_2_authors['4_Auth_affs_2'] = ""
AER_1971_1999_2_authors['4_Auth_affs_3'] = ""
AER_1971_1999_2_authors['5_Auth_affs_0'] = ""
AER_1971_1999_2_authors['6_Auth_affs_0'] = ""
AER_1971_1999_2_authors['7_Auth_affs_0'] = ""
print(AER_1971_1999_2_authors.shape)

AER_1971_1999_2_authors = AER_1971_1999_2_authors[['Journal_Name' ,'Authors_count', 'Authors_list', 'authors', 'Article_ID', 'content_type',
'stable_url', 'year_master', 'Ref_type' ,
'ref_string', 'ref_string_clean1', 'Screened', 'Manual',
'0_Auth_affs_0', '0_Auth_affs_1', '0_Auth_affs_2', '0_Auth_affs_3', '0_Auth_affs_4', 
'1_Auth_affs_0' , '1_Auth_affs_1', '1_Auth_affs_2', '1_Auth_affs_3', '1_Auth_affs_4',
'2_Auth_affs_0', '2_Auth_affs_1', '2_Auth_affs_2', '2_Auth_affs_3', '2_Auth_affs_4',
'3_Auth_affs_0', '3_Auth_affs_1', '3_Auth_affs_2', '3_Auth_affs_3', '3_Auth_affs_4',
'4_Auth_affs_0', '4_Auth_affs_1', '4_Auth_affs_2' , '4_Auth_affs_3',
'5_Auth_affs_0',
'6_Auth_affs_0','7_Auth_affs_0']]

#AER_1971_1999_3_authors
#AER_1971_1999_3_authors['5_Auth_affs_0'] = ""
#AER_1971_1999_3_authors['6_Auth_affs_0'] = ""
print(AER_1971_1999_3_authors.shape)

AER_1971_1999_3_authors = AER_1971_1999_3_authors[['Journal_Name' ,'Authors_count', 'Authors_list', 'authors', 'Article_ID', 'content_type',
'stable_url', 'year_master', 'Ref_type' ,
'ref_string', 'ref_string_clean1', 'Screened', 'Manual',
'0_Auth_affs_0', '0_Auth_affs_1', '0_Auth_affs_2', '0_Auth_affs_3', '0_Auth_affs_4', 
'1_Auth_affs_0' , '1_Auth_affs_1', '1_Auth_affs_2', '1_Auth_affs_3', '1_Auth_affs_4',
'2_Auth_affs_0', '2_Auth_affs_1', '2_Auth_affs_2', '2_Auth_affs_3', '2_Auth_affs_4',
'3_Auth_affs_0', '3_Auth_affs_1', '3_Auth_affs_2', '3_Auth_affs_3', '3_Auth_affs_4',
'4_Auth_affs_0', '4_Auth_affs_1', '4_Auth_affs_2' , '4_Auth_affs_3',
'5_Auth_affs_0',
'6_Auth_affs_0','7_Auth_affs_0']]

#AER_2000_2010_1_author
AER_2000_2010_1_author['4_Auth_affs_2'] = ""
AER_2000_2010_1_author['4_Auth_affs_3'] = ""
AER_2000_2010_1_author['5_Auth_affs_0'] = ""
AER_2000_2010_1_author['6_Auth_affs_0'] = ""
AER_2000_2010_1_author['7_Auth_affs_0'] = ""
print(AER_2000_2010_1_author.shape)

AER_2000_2010_1_author = AER_2000_2010_1_author[['Journal_Name' ,'Authors_count', 'Authors_list', 'authors', 'Article_ID', 'content_type',
'stable_url', 'year_master', 'Ref_type' ,
'ref_string', 'ref_string_clean1', 'Screened', 'Manual',
'0_Auth_affs_0', '0_Auth_affs_1', '0_Auth_affs_2', '0_Auth_affs_3', '0_Auth_affs_4', 
'1_Auth_affs_0' , '1_Auth_affs_1', '1_Auth_affs_2', '1_Auth_affs_3', '1_Auth_affs_4',
'2_Auth_affs_0', '2_Auth_affs_1', '2_Auth_affs_2', '2_Auth_affs_3', '2_Auth_affs_4',
'3_Auth_affs_0', '3_Auth_affs_1', '3_Auth_affs_2', '3_Auth_affs_3', '3_Auth_affs_4',
'4_Auth_affs_0', '4_Auth_affs_1', '4_Auth_affs_2' , '4_Auth_affs_3',
'5_Auth_affs_0',
'6_Auth_affs_0','7_Auth_affs_0']]

#AER_2000_2010_2_3_authors	
print(AER_2000_2010_2_3_authors.shape)
AER_2000_2010_2_3_authors['7_Auth_affs_0'] = ""

AER_2000_2010_2_3_authors = AER_2000_2010_2_3_authors[['Journal_Name' ,'Authors_count', 'Authors_list', 'authors', 'Article_ID', 'content_type',
'stable_url', 'year_master', 'Ref_type' ,
'ref_string', 'ref_string_clean1', 'Screened', 'Manual',
'0_Auth_affs_0', '0_Auth_affs_1', '0_Auth_affs_2', '0_Auth_affs_3', '0_Auth_affs_4', 
'1_Auth_affs_0' , '1_Auth_affs_1', '1_Auth_affs_2', '1_Auth_affs_3', '1_Auth_affs_4',
'2_Auth_affs_0', '2_Auth_affs_1', '2_Auth_affs_2', '2_Auth_affs_3', '2_Auth_affs_4',
'3_Auth_affs_0', '3_Auth_affs_1', '3_Auth_affs_2', '3_Auth_affs_3', '3_Auth_affs_4',
'4_Auth_affs_0', '4_Auth_affs_1', '4_Auth_affs_2' , '4_Auth_affs_3',
'5_Auth_affs_0',
'6_Auth_affs_0','7_Auth_affs_0']]

(846, 48)
(136, 44)
(2748, 41)
(1478, 44)
(369, 45)
(603, 45)
(1389, 44)

In [11]:
AER_Merge_base = pd.concat([AER_1940_1969, AER_1970_1971, AER_1971_1999_1_author, AER_1971_1999_2_authors, AER_1971_1999_3_authors, AER_2000_2010_1_author, AER_2000_2010_2_3_authors])

In [12]:
# Merging the masterfile onto the new melted file to get additional data
AER_Merged = AER_master_condenced.merge(AER_Merge_base, how = 'left', on = 'Article_ID')

In [13]:
# Excel output to get an overview of the data
AER_Merged.head
AER_Merged.to_excel('/Users/MattJohnson/Desktop/Affiliations/2_Extracting affilitations/3_consolidation/AER/AER_Merged.xlsx')